<header class="o-header-services" data-o-component="o-header-services">
			<div class="o-header-services__top">
				<div class="o-header-services__logo"></div>

				<div class="o-header-services__title">
					<span class="o-header-services__product-name"><a href="/">Origami Build Service</a></span>
					<span class="o-header-services__product-tagline">Components built and delivered</span>
				</div>
			</div>
			<nav class="o-header-services__primary-nav o-header-services__primary-nav--open" aria-label="primary"
				aria-hidden="false">
				<ul class="o-header-services__primary-nav-list">
					<li class="o-header-services__drawer-header"><button
							class="o-header-services__drawer-close-button">Close</button></li>
					<li> <a href="/v3/url-builder">Create a bundle</a> </li>
					<li> <a href="/v3/api">API Reference</a> </li>
				</ul>
			</nav>
		</header>